{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Password reset complete" %}{% endblock %}
{% block content %}
	<div class="container">
		<div class="row text-center lead">
			<p>
				{% trans "Your password has been reset!" %}
				{% blocktrans %}You may now {% endblocktrans %}.
			</p>
			<p>
			{% blocktrans %}
				<a href="{{ login_url }}">Click Here</a>
			{% endblocktrans %}
			</p>
		</div>
	</div>
{% endblock %}
{# This is used by django.contrib.auth #}