{% extends "base.html" %}
<style>
{% block style %}
.main {
	margin-top: 100px;
}
img.img-responsive {
	max-width: 50%;
}
{% endblock style %}
</style>
{% block header %}
{% endblock header %}
{% block content %}
<h3 class="lead text-center">Account List</h3>
{% if request.user.is_authenticated %}
<div class="main container">
	<div class="row">
		<div class="col-sm-8">
			{% for account in accounts_list %}
				<div id="item">
					<div class="row">
						<div class="col-sm-4">
							<a class="lead" href="{{ account.get_absolute_url }}">{{ account.user.username }}</a>
							<br>
							<img class="img-responsive" src="http://127.0.0.1:8000/media/user/testuser25/testuser25-None.jpg" alt="">
						</div>
						<div class="col-sm-8">
							<p><b>Location</b>: {{ account.location }}</p>
							<p><b>Bio</b>: {{ account.bio|truncatewords:15 }}</p>
							<p><b>Birth Date</b>: {{ account.birth_date }}</p>
							<p><b>Phone Number</b>: {{ account.phone_number }}</p>
							<p><b>Skills</b>: {{ account.skill }}</p>
						</div>
					</div>
				</div>
				<hr>
			{% endfor %}
		</div>
		<div class="row col-sm-4">
			<h3>Search Location</h3>
		</div>
	</div>
</div>
{% else %}
	<p class="lead text-center">
		You must be <a href="{% url 'auth_login' %}">login</a> or <a href="{% url 'registration_register' %}">register</a> account to see this
	</p>
{% endif %}
{% endblock content %}

