{% extends "base.html" %}

<style>
{% block style %}
.main {
	margin-top: 100px;
}
.img-responsive {
	border-radius: 50%;
/*	border: 2px solid #555;*/
}
{% endblock style %}
</style>

{% block header %}
{% endblock header %}
{% block content %}
{% if request.user.is_authenticated %}
	<div class="main container">
		<div class="row">
			<div class="col-sm-8">
				<div class="col-sm-4 text-center">
					<a class="lead" href="{{ accounts_detail.get_absolute_url }}">{{ accounts_detail.user.username }}</a>
					<br><br>
					{% if accounts_detail.avatar %}
					<img class="img-responsive" src="{{ accounts_detail.avatar.url }}" alt="">
					{% endif %}
					<br>
					{% if accounts_detail.cv_user %}
					<a href="{{ accounts_detail.cv_user.url }}"><button class="btn btn-info btn-sm">View CV</button></a>
					{% endif %}
				</div>
				<div class="col-sm-8">
					<p><b>Location</b>: {{ accounts_detail.location }}</p>
					<p><b>Bio</b>: {{ accounts_detail.bio }}</p>
					<p><b>Birth Date</b>: {{ accounts_detail.birth_date }}</p>
					<p><b>Phone Number</b>: {{ accounts_detail.phone_number }}</p>
					<p><b>Skills</b>: {{ accounts_detail.skill }}</p>
					
				</div>
				<hr>
			</div>
			<div class="row col-sm-4">
			</div>
		</div>
	</div>
{% else %}
	<p class="lead text-center">
		You must be <a href="{% url 'auth_login' %}">login</a> or <a href="{% url 'registration_register' %}">register</a> account to see this
	</p>
{% endif %}
{% endblock content %}