<!DOCTYPE html>
<html lang="en">
	<head>
		{% block header %}
			<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<title>PyWeb</title>
		{% endblock header %}
		
		<style>
		{% block style %}
		.main {
			margin-top: 100px;
		}
		{% endblock style %}
		</style>
		{% include "css_cdn.html" %}
	</head>
	<body>

		{% include 'navbar.html' %}

		<div class="main">
		{% block content %}
		{% endblock content %}
		</div>
		
		{% include "footer.html" %}

		{% include "javascript_cdn.html" %}
	</body>
</html>
