{% extends "base.html" %}
{% load crispy_forms_tags %}
<style>
	{% block style %}
	.main {
		margin-top: 100px;
	}
	{% endblock style %}
</style>
{% block header %}
{% endblock header %}
{% block content %}
<div class="main container">
	<h3 class="lead text-center">Contact Us</h3>
	{% if success_message %}
	<h3 class="lead text-center">{{ success_message }}</h3>
	{% else %}
	<div class='row'>

		<div class='col-sm-8 col-sm-offset-2'>
			<form method='POST' action=''>{% csrf_token %}
				{{ form|crispy }}
				<div class="submit text-center">
				<input class='btn btn-info' type='submit' value='Submit' />
				</div>
			</form>
		</div>
	</div>
	{% endif %}
</div>
{% endblock content %}