<!-- main-footer -->
<style>
{% block style %}
  footer.main-footer {
  padding: 0px;
  margin-bottom: 10px;
  }
  .last-text ul {
  list-style-type: none;
  margin: 0 auto;
}

.last-text ul li {
  font-size: 15px;
  display: inline;
  margin: 0px 25px;
}
.last-text ul li i {
  margin: 0px 5px;
}
{% endblock style %}
</style>

<hr>
<footer class="main-footer page-footer">
  <div class="last-text">
    <p class="lead text-center"><small>Contact Us</small></p>
    <ul class="lead text-center">
    <li><i class="fa fa-phone" aria-hidden="true"></i>
      098 209 02 90</li>
      <li><i class="fa fa-map-marker" aria-hidden="true"></i>
      SGarden coworking space, số 19, ngõ 376, Khương Đình, Hà Nội</li>
      <li><i class="fa fa-envelope" aria-hidden="true"></i>
      info@pymi.vn</li>
    </ul>
  </div>
  <br><br>
</footer><!-- end main-footer -->