{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load jobs_info %}
<style>
{% block style %}
.jumbotron {
	background: url({% static 'img/workspace.jpg' %}) no-repeat center center fixed;
	background-size: cover;
	height: 650px;
}
.main-text {
	color: #fff;
	text-align: center;
	margin-top: 150px;
}
.main-content {
	margin: 0px;
}
#item {
border: 1px solid #e1e1e1;
padding: 30px;
}
button.btn-primary {
	background: #303F9F;
	border: none;
}
{% endblock style %}
</style>
{% block header %}
{% endblock header %}

{% block content %}
	<div id="main-content" class="jumbotron text-center">
		<div id="main-text" class="main-text container">
			<form class="form-horizontal col-sm-6 col-sm-offset-3">
				<h3 style="font-size: 50px;" class="lead text-center">Remote Python Jobs</h3>
				<div class="form-group">
					<div class="">
						<input type="text" name="q" class="form-control text-center" id="inputEmail3" placeholder="Find Jobs">
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<button type="submit" value="Search" class="btn btn-primary btn-lg">Find Remote Python Jobs</button>
					</div>
				</div>			
			</form>
		</div>
		<br><br>
	</div>
	<h3 class="lead text-center"><b>Remote Python Jobs</b></h3>
	<div class="container">
		<div class="row col-sm-12">
			{% for job in jobs_list %}
				<div id="item">
					<div class="row">
						<a href="{{ job.get_absolute_url }}">{{ job.name }}</a>
						{% if job.company %}
						- {{ job.company }}
						{% endif %}
						<p>{{ job.description | convert_to_html | safe | truncatewords:25 }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<br>
	<div class="text-center">
		<a class="lead" href="{% url 'jobs' %}">See all python jobs</a>
	</div>
	<br>
	<h3 class="lead text-center"><b>Companies</b></h3>
	<div class="container">
		<div class="row col-sm-12">
			{% for company in companys_list %}
				<div id="item">
					<div class="row">
						<a href="{{ company.get_absolute_url }}">{{ company.name }}</a>
						- {{ company.address | html_inline | safe }}
						<p>{{ company.description | truncatewords:30 }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<br>
	<div class="text-center">
		<a class="lead" href="{% url 'companies' %}">See all companies</a>
	</div>
	
	<hr>
	{% include "jumbotron2.html" %}
{% endblock content %}