{% load staticfiles %}

<!-- Static navbar -->
<style>
{% block style %}
#navbar {
  background: #34495e;
  border: none;
  border-top: 2px solid #e74c3c;
}
strong, span { 
  color: #ffffff;
}
  #logo-text {
  font-size: 20px;
}
{% endblock style %}
</style>
<nav id="navbar" class="navbar navbar-toggleable-md navbar-default main-navbar navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><strong>PJWEB</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a href="{% url 'jobs' %}"><strong>Find Jobs</strong></a></li>
        <li class="nav-item"><a href="{% url 'accounts' %}"><strong>Find Devs</strong></a></li>
        <li class="nav-item"><a href="{% url 'create_jobs' %}"><strong>Post a Job</strong></a></li>
        <li class="nav-item"><a href="https://pymi-slack.herokuapp.com/"><strong>Slack</strong></a></li>
        <li class="nav-item"><a href="{% url 'newsletters' %}"><strong>Job Alerts</strong></a></li>
        <li class="nav-item"><a href="{% url 'contact' %}"><strong>Contact Us</strong></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
       {% if request.user.is_authenticated %}
             <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>{{ request.user.username }} - {{ request.user.email }}</span> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
             <li><a href="{% url 'update_accounts' request.user.userprofile.pk request.user.userprofile.slug %}"><strong>My Account</strong></a></li>
              
              <li><a href="{% url 'auth_logout' %}"><strong>Log Out</strong></a></li>
            </ul>
          </li>
            
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}"><span class="btn btn-theme btn-pill btn-xs btn-line"><strong>Log In</strong></span></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}"><span class="btn btn-theme  btn-pill btn-xs btn-line"><strong>Sign Up</strong></span></a></li>
        {% endif %}
        </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>