{% load staticfiles %}
<!-- Static navbar -->
<style>
{% block style %}
  #navbar {
  background: #2a3f54;
  border: 1px solid #fff;
  }
  strong, span {
  color: #ffffff;
  }
  #logo-text {
  font-size: 20px;
  }
{% endblock style %}
</style>

<nav id="navbar" class="navbar navbar-default main-navbar hidden-sm hidden-xs navbar-fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        <li id="logo-text"><a href="/jobs" class="nav navbar-brand"><a href="{% url 'home' %}"><strong>PJWEB</strong></a></li>
        <li><a href="{% url "jobs" %}"><strong>Find Jobs</strong></a></li>
        <li><a href="{% url "accounts" %}"><strong>Find Devs</strong></a></li>
        <li><a href="{% url 'create_jobs' %}"><strong>Post a Job</strong></a></li>
        <li><a href="#"><strong>Job Alerts</strong></a></li>
        <li><a href="https://pymi-slack.herokuapp.com/"><strong>Slack</strong></a></li>
        <li><a href="#"><strong>Contact Us</strong></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        {% if request.user.is_authenticated %}
          <!-- dropdown account -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>{{ request.user.username }} - {{ request.user.email }}</span> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              
              <li><a href="#">My Account</a></li>
              <li><a href="{% url 'auth_logout' %}">Log Out</a></li>
            </ul>
          </li>
          
          <!-- end dropdown account -->
          <!-- <li class="link-btn"><a href="{% url 'auth_logout' %}"><span class="btn btn-theme btn-pill btn-xs btn-line">Log Out</span></a></li> -->
        {% else %}
          <li class="link-btn"><a href="{% url 'auth_login' %}"><span class="btn btn-theme btn-pill btn-xs btn-line">Log In</span></a></li>
          <li class="link-btn"><a href="{% url 'registration_register' %}"><span class="btn btn-theme  btn-pill btn-xs btn-line">Sign Up</span></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  </nav><!-- end main navbar -->